@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#banner{
    position: relative;
    width: 100%;
    height: 600px;
}
.banner_img{
    position: absolute;
}
.banner_text{
    position: absolute;
    top: 25%;
}
.banner_text h1{
    font-size: 3.5rem;
    color: white;
    padding: 50px;
    background: #06B6D4;
}
